@model IEnumerable<IkubInternship.DomainModels.VM.EmployeePermission>
@{
  ViewBag.Title = "EmployeesPermissions";
  Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
  <br />
  @Html.Partial("_Notifications")
  <br />
  <div class="form-row">
    <div class="col-md-6">
      <h2 class="font-weight-bolder">Employees Report</h2>
    </div>
    <div class="col-md-6">
      <a href="/Supervisor/SupervisorReports/Index" class="btn btn-lg btn-dark float-right"><i class="fas fa-arrow-circle-left"></i> Back to Reports</a>
    </div>
  </div>
  <br /><br />
  @if (Model == null || Model.Count() == 0)
  {
    <p class="font-weight-bolder">There is no employee record</p>
  }
  else
  {
    <table class="table table-hover">
      <tr>
        <th>@Html.DisplayNameFor(x => x.FullName)</th>
        <th>@Html.DisplayNameFor(x => x.Remaining)</th>
        <th>@Html.DisplayNameFor(x => x.Approved)</th>
        <th>@Html.DisplayNameFor(x => x.Refused)</th>
        <th>@Html.DisplayNameFor(x => x.Asked)</th>
        <th>@Html.DisplayNameFor(x => x.Canceled)</th>
      </tr>
      @foreach (var i in Model)
      {
        <tr>
          <td>@Html.DisplayFor(x => i.FullName)</td>
          <td>@Html.DisplayFor(x => i.Remaining)</td>
          <td>@Html.DisplayFor(x => i.Approved)</td>
          <td>@Html.DisplayFor(x => i.Refused)</td>
          <td>@Html.DisplayFor(x => i.Asked)</td>
          <td>@Html.DisplayFor(x => i.Canceled)</td>
        </tr>
      }
    </table>
    <br />
    <div>
      <a href="/Supervisor/SupervisorReports/EmployeesPermissionsToExcel" class="btn btn-lg btn-success text-white">Export as Excel</a> &nbsp;&nbsp;
      <a href="/Supervisor/SupervisorReports/EmployeesPermissionsToPDF" class="btn btn-lg btn-primary text-white">Export PDF</a>
    </div>
 
  }
</div>

