@model IEnumerable<IkubInternship.DomainModels.ApplicationUser>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
  <br />
  <div class="form-inline">
    <div class="col-md-7">
      <h2 class="font-weight-bolder">Employees under your supervision</h2>
    </div>
    <div class="col-md-3">
      <a href="/Home/Index" class="btn btn-lg btn-dark float-right"><i class="fas fa-home"></i></a>
    </div>
  </div>
  @Html.Partial("_Notifications")
  <br />
  <br />
  @if (Model == null || Model.Count() == 0)
  {
    <h2 class="font-weight-bolder">There is no Employee</h2>
  }
  else
  {
  
    <br />
    <div class="container">
      <table class="table table-hover table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>@Html.DisplayNameFor(x => x.Name)</th>
            <th>@Html.DisplayNameFor(x => x.LastName)</th>
            <th>@Html.DisplayNameFor(x => x.Email)</th>
            <th>Departament</th>
            <th>@Html.DisplayNameFor(x => x.RemainingPermissions)</th>
          </tr>
        </thead>
        <tbody>
          @foreach (var item in Model)
          {
            <tr>
              <td>@item.Name</td>
              <td>@item.LastName</td>
              <td>@item.Email</td>
              <td>@item.EmployeeDep.Name</td>
              <td>@item.RemainingPermissions</td>
            </tr>
          }
        </tbody>

      </table>
    </div>
  }

</div>

